<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.4.2/d3.js"
      integrity="sha512-c1CuuvAJrV5Tf0jpwRgeeM6rA5v1/kv7eEzkIO6ARsKq2X9O3GCVGMRUJ76zh/plXad4cq0MYG02TyuXRhM4OQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.js"
      integrity="sha512-MNW6IbpNuZZ2VH9ngFhzh6cUt8L/0rSVa60F8L22K1H72ro4Ki3M/816eSDLnhICu7vwH/+/yb8oB3BtBLhMsA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
      integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="//cdn.jsdelivr.net/alasql/0.2/alasql.min.js"></script>
    <title>RK_Data_YES</title>
  </head>

  <body>
      <div id="container">
          <div class="page-card">
          <div class="row">
              <div class="nine columns">
                <h2 id="my-name">Rafal Kleczek</h2>
                <h3 id="my-titles">Data <span id="changing-requirements">Analyst</span></h3>

                <h4>Work Experience</h4>
                <h5 class="workplace">Artikuno GmBH, Vienna, Austria</h5>
                <h6>Data Analyst, 06.2021-Present</h6>
                <ul>
                    <li>Developing pipelines for obtaining, transforming, storing, and communiating data using a wide variety of technologies:
                        <ul>
                            <li>Python and JavaScript for web scraping, API access, and data processing</li>
                            <li>MongoDB for data storage</li>
                            <li>Node.js for back-end development</li>
                            <li>D3.js and DC.js for data
                                visualization</li>
                        </ul>
                    </li>
                    <li>Scraping of social media platforms for cold
                        outreach and influencer leads:
                        <ul>
                            <li>Python InstagrAPI by Mikhail Andreev for scraping the mobile version of Instagram</li>
                            <li>MongoDB for storing leads, scraped data, and planned outreach</li>
                            <li>Node.js for back-end development</li>
                        </ul>
                    </li>
                    <li>
                        Management of mailing software (SMTP server integration, email warm-up) for mailing campaigns
                    </li>
                    <li>Analysis of customer behaviour</li>
                    <li>E-commerce store profitability research:
                        <ul>
                            <li>Programming custom marketplace scrapers with Python (Requests, BeautifulSoup)</li>
                            <li>Data processing with Python (Pandas, Numpy)</li>
                            <li>Data visualization with D3.js</li>
                        </ul>
                    </li>
                    <li> Analysis of logistic flows and order route delays:
                        <ul>
                            <li>Shopify API for data access, TrackingMore API for tracking data access, ArcGIS API for geolocation</li>
                            <li>MongoDB for data storage</li>
                            <li>Node.js for back-end development</li>
                            <li>Leaflet and D3.js for analysis and data presentation</li>
                        </ul>
                    </li>
                    <li> Developing custom tools for inventory management and warehouse optimization:
                        <ul>
                            <li>Python for scheduled API data extraction (APIs used: REST, SOAP, GraphQL, Amazon SP-API)</li>
                            <li>MongoDB for data storage</li>
                            <li>Node.js for back-end development</li>
                            <li>D3.js for data visualization</li>
                        </ul>
                    </li>
                </ul>
                <h5 class="workplace">Beeanco GmbH, Vienna, Austria</h5>
                <h6>Business Analyst, 10.2020-06.2021</h6>
                <ul>
                    <li>Customer behaviour analysis (Google Analytics, Python)</li>
                    <li>Product and vendor analysis (Python, Pandas)</li>
                    <li>SEO research and strategy implementation</li>
                    <li>Competition analysis through custom web scraping solutions (Python, Requests, BeautifulSoup)</li>
                </ul>
                <h5 class="workplace">ISTB, University of Vienna, Austria</h5>
              </div>
              <div class="three columns">
                <div id="picture-container">
                    <img id="my-photo" src="https://deite.org/cv/paszportowe.jpg" alt="Rafal Kleczek" />
                </div>
              </div>
          </div>

          <br />
          <hr />
          <div class="row">
            <div class="four columns left-align">kleczek.r@gmail.com</div>
            <div class="four columns mid-align">+43 664 951 57 65</div>
            <div class="four columns right-align">1170, Wien</div>
          </div>
          <div class="row">
            <div class="four columns left-align">
                <a href="https://deite.org" target="_blank">deite.org</a>
            </div>
            <div class="four columns mid-align">
                <a href="https://www.linkedin.com/in/rafkle" target="_blank">linkedin.com/in/rafkle/</a>
            </div>
            <div class="four columns right-align">
                <a href="https://www.github.com/kleczekr" target="_blank">github.com/kleczekr</a>
            </div>
          </div>
        </div>
        </div>
      <script type="text/javascript" src="interactions.js">
  </body>
</html>
