#my-name {
    padding-top: 30px;
    padding-left: 30px;
    text-align: left;
}

#my-titles {
    padding-top: 20px;
    padding-left: 30px;
    text-align: left;
}
#container {
    padding: 30px;
    margin: 30px;
}

#my-photo {
    max-height: 340px;
    max-width: 100%;
    float: right;
}

.page-card {
    margin: 30px;
    padding: 30px;
}

.left-align {
    text-align: left;
}

.mid-align {
    text-align: center;
}

.right-align {
    text-align: right;
}

li {
    line-height: 1.5;
}

p {
    line-height: 1.5;
    font-size: 1em !important;
}

h4 {
    font-size: 18px !important;
}

h5 {
    font-size: 16px !important;
}

h6 {
    font-size: 14px !important;
}
